*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #183440ff;
}

h2{
    color: #183440ff;
    text-align: center;
}

body{
    background-image: ../img/background-header.jpg;
}

/* Style Header */
.header h1{
    color: #183440ff;
    text-align: center;
}

.header p{
    text-align: center;
    font-size: 12px;
}
/* Style Header */

/* Style Navigation */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c6070ff;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: #183440ff;
}
/* Style Navigation */

/* Style About */
.about p{
    padding: 0px 130px;
    text-align: justify;
}

.about hr{
    width: 250px;
}

.about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about p b{
    color: #183440ff;
}

