@import url(https://fonts.googleapis.com/css?family=Dancing+Script&display=swap);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font: 16px/28px arial, sans-serif;
}

.container {
	margin-top: -5px;
	width: 100%;
	margin: auto;
}

/*Header*/
.header {
	height: 600px;
	background-image: url(../img/aa.png);
	background-position: 0 -160px;
}

.navigasi {
	float: left;
	background-color: transparent;
}

.navigasi ul li {
	padding: 20px 20px 20px 50px;
	display: inline-block;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

.navigasi a:hover {
	color: yellow;
}

.navigasi ul li {
	transition: 0.5s;
}

.navigasi ul li:hover {
	transform: scale(1.5);
}


.header h1 {
	font-family: 'Dancing Script', cursive;
	padding: 240px 10px 80px 100px;
	font-size: 80px;
	color: #eaeaea;
}

.header span {
  color: yellow;
}
/*Header*/




/*Content*/
.content {
	height: 400px;
	padding: 50px;
	text-align: justify;
	box-sizing: border-box;
}

.content h2 {
	text-align: center;
	margin-bottom: 20px;
}

.content p {
	margin-top: 20px;
}

.contenttext1 {
	display: inline-block;
	width: 45%;
	float: left;
	box-sizing: border-box;
}

.contenttext2 {
	display: inline-block;
	width: 45%;
	float: right;
	box-sizing: border-box;
}

.gallery {
	height: 610px;
	background-color: lightskyblue;
	padding: 20px;
}

.galleryfoto {
	width: 650px;
}

.gal1 {
	background-image: url(../img/gal1.jpg);
	width: 300px;
	height: 280px;
	display: inline-block;
}

.gal2 {
	background-image: url(../img/gal2.jpg);
	width: 300px;
	height: 280px;
	display: inline-block;
	margin-left: 20px;
}

.gal3 {
	background-image: url(../img/gal2.jpg);
	width: 300px;
	height: 280px;
	display: inline-block;
}

.gal4 {
	background-image: url(../img/gal2.jpg);
	width: 300px;
	height: 280px;
}